.background::before {
content: ";
position: absolute;
top: 0px;
width: 100%;
height: 100%;
left 0px;
background-image url(650756_warhammer-online-games-age-of-reckoning-hd-wallpapers_1920x1080_h.jpg)
background-size: cover;
background-position top center;
opacity 0.3;
}

h1{
color: darkorange;
text-transform: uppercase;
text-align: center;
font-size: 25px;
margin-top: 50px;

}

h2 {
font-size: x-large;
text-align: left;
font-style: italic;
color: darksalmon;

}


