.parentDiv {

border: 1px;
background-color: darkred;
background-image: url(650756_warhammer-online-games-age-of-reckoning-hd-wallpapers_1920x1080_h.jpg);


}
.childDiv{
  background-image: url(650756_warhammer-online-games-age-of-reckoning-hd-wallpapers_1920x1080_h.jpg);
background-repeat: no-repeat;
background-size: 100%;

}

body{
background-color: darkred;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
align-items: end;
justify-content: end;
display: flex;


}




.cover{
width: 900px;
height: 400px;
margin-top: 50px;
display: flexbox;  
}

.box{
margin: 15px;
width: 800px;
height: 400px;
box-shadow: -1px 0 10px #000000;
align-items: end;
justify-content: end;
text-align: end;
}

img{
  width: 300px;
  height: 200px;
  display:flex ;

}