body{
padding: 0;
margin: 0;
font-family: sans-serif;
}


.container{
height: 100vh;
background: url(650756_warhammer-online-games-age-of-reckoning-hd-wallpapers_1920x1080_h.jpg);
background-size: cover;
background-repeat: no-repeat;
}

h1{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
text-transform: uppercase;
color: orange;
font-size: 100px;
width: 90%;
mix-blend-mode: overlay;
text-shadow: 0 5px 10px rgba(0, 0, 0, 1);


}