body {
  background-image: url(warhammer_online_age_of_reckoning_game-wallpaper-1920x1080.jpg);
  background-size:cover;
  background-repeat: no-repeat;
} 

header {
background-color: red;
}

main {
background-color: white;  
}

footer {
background-color: red;  
}